body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    height: 480px;
    min-width: 320px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px;

    display: flex;
    flex-direction: column;
    gap: 4px;
}

#buttons {
    flex: 5;
    display: flex;
    flex-direction: column;
}

#display{
    flex: 1;
    display: flex;
    flex-direction: column;
}

#current {
    flex: 3;
    text-align: right;
    border: 2px solid black;
    border-top: none;
    padding: 0 4px;
}

#memory {
    color: rgba(0,0,0,0.5);
    flex: 1;
    text-align: right;
    margin-top: 2px;
    border: 2px solid black;
    border-bottom: 1px solid black;
}

#top-row {
    flex: 1;
    display: flex;
}

#top-row * {
    flex:1;
}

#second-up-to-last-rows {
    flex: 4;
    display: flex;
}

#numeric-container {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
}

#numeric-container div {
    flex: 1;
    display: flex;
}

#numeric-container div button{
    flex: 1;
}

#side-operations-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#zero-comma-container .numeric {
    flex: 2 0 66.666666666%;
}

#zero-comma-container .comma {
    flex: 1 0 33.333333333%;
}

#side-operations-container .operation {
    flex: 1 0 25%;
}

#side-operations-container #equal {
    flex: 2 0 50%;
}