@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;600&display=swap');


body {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    height: 520px;
    min-width: 390px;
    border: 5px solid rgb(100,100,100);
    background-color: rgb(50,50,50);
    border-radius: 10px;
    padding: 16px;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

#buttons {
    flex: 5;
    display: flex;
    flex-direction: column;
}

#display {
    border: 2px solid rgb(100,100,100);

    flex: 1;
    display: flex;
    flex-direction: column;
}

#display * {
    background-color: rgb(180,180,180);
    font-family: Orbitron, sans-serif;
}

#current {
    text-align: right;
    font-size: 24px;
    border: 2px solid black;
    border-top: none;
    padding: 0 4px;

    flex: 3;
}

#memory {
    color: rgba(0,0,0,0.60);
    text-align: right;
    margin-top: 2px;
    padding: 0 4px;
    border: 2px solid black;
    border-bottom: 1px solid black;

    flex: 1;
}

#buttons {
    display: flex;
    flex-direction: row;
}

#buttons * {
    flex: 1;
}

button {
    background-color: rgb(70,70,70);
    color: white;
    border-radius: 40px;
}

button:active {
    background-color: black;
}

#first-two-columns {
    display: flex;
    flex-direction: column;
}

#squares {
    flex: 80%;
}

#zero {
    flex: 20%;
}

#squares {
    display: flex;
}

#first-two-columns {
    flex: 2;
}

#third-column, #fourth-column {
    flex: 1;
}

.column {
    display: flex;
    flex-direction: column;
}

#side-operations-container {
    flex: 60%;
    display: flex;
    flex-direction: column;
}

#equal {
    flex: 40%;
}